

/* Animation */


main #movies-crossfade #old {
  animation-name: fade-in-out;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}



@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
