@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Arial", "Roboto";

  }

}



@theme {
  --color-primary-50: #F6EDFF;
  --color-primary-100: #E9DDFF;
  --color-primary-200: #D0BCFF;
  --color-primary-300: #B89BFF;
  --color-primary-400: #A078FF;
  --color-primary-500: #8B5CF6;
  --color-second: #F59E0B;
  --color-tertiary: #B06B00;
  --color-off-white: #CBC3D7;
  --color-dark: #0A0A0B;

  --font-inter: "Inter";
}